doctype html

<!--[if lte IE 8]>
script.
  location.assign('ie8.html');

<![endif]-->

<!--[if IE 9]>
html.ie9(lang="zh-Hant-TW",ng-app="<%= scriptAppName %>")
<![endif]-->

html(lang="zh-Hant-TW",ng-app="<%= scriptAppName %>")
head
  meta(name="fragment",content="!")
  base(href="/")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title(ng-bind="($route.current.scope.subTitle) ? title + ' - '+ $route.current.scope.subTitle : title") <%= appname %>
  meta(name="keywords",ng-attr-content="{{($route.current.scope.page_keywords) ? $route.current.scope.page_keywords : keywords }}",content="<%= appname %>")
  meta(name="description",ng-attr-content="{{($route.current.scope.page_description) ? $route.current.scope.page_description : description }}",content="<%= appname %>")
  meta(name="viewport",content="width=device-width")
  meta(property="og:type",content="website")
  meta(property="og:url",ng-attr-content="{{$location.$$absUrl}}")
  meta(property="og:title",ng-attr-content="{{($route.current.scope.subTitle) ? title + ' - '+ $route.current.scope.subTitle : title}}",content="<%= appname %>")
  meta(property="og:site_name",ng-attr-content="{{title}}",content="<%= appname %>")
  meta(property="og:description",ng-attr-content="{{($route.current.scope.page_description) ? $route.current.scope.page_description : description }}",content="<%= appname %>")
  meta(property="og:image",ng-attr-content="{{($route.current.scope.page_og_image) ? $route.current.scope.page_og_image : og_image}}",content="og-image-200x200.png")
    
  link(href="/apple-icon-114x114.png",rel="apple-touch-icon",sizes="114x114")
  link(rel="shortcut icon",href="/favicon.ico")
  
  
  // build:css styles/vendor.css
  // bower:css
  // endbower
  // endbuild
  // build:css(.tmp) styles/main.css
  link(rel="stylesheet", href="styles/main.css")
  // endbuild
body
  .container
    div.header
      ul.nav.nav-pills.pull-right
        li(ng-class="{active: $route.current.scope.activeView == 'main' }")
          a(ng-href="/") Home
        li(ng-class="{active: $route.current.scope.activeView == 'about' }")
          a(ng-href="/about") About
        li(ng-class="{active: $route.current.scope.activeView == 'contact' }")
          a(ng-href="/contact") Contact
        li(ng-class="{active: $route.current.scope.activeView == 'signin' }")
          a(ng-href="/signin") Signin
          
      h3.text-muted <%= appname %>
      
    <% if (ngRoute) {%>
    div(ng-view)
    <% } else { %>
    div
    <% } %>


  <!--[if lt IE 9]>
  script(src="bower_components/es5-shim/es5-shim.js")
  script(src="bower_components/json3/lib/json3.min.js")
  
  <![endif]-->
  
  
  // build:js scripts/vendor.js 
  // bower:js
  // endbower 
  // endbuild 

  // build:js({.tmp,app}) scripts/main.js 
  script(src="scripts/tools/taiwan-address-input.js")
  script(src="scripts/directives/signin.js")
  
  // endbuild
