doctype html

html(lang="zh-Hant-TW",ng-app="<%= scriptAppName %>")
head
  meta(name="fragment",content="!")
  base(href="/")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title web
  meta(name="keywords",content="")
  meta(name="description",content="")
  meta(name="viewport",content="width=device-width")
  meta(property="og:type",content="website")
  meta(property="og:url",content="")
  meta(property="og:title",content="")
  meta(property="og:site_name",content="")
  meta(property="og:description",content="")
  meta(property="og:image",content="")
    
  link(href="/apple-icon-114x114.png",rel="apple-touch-icon",sizes="114x114")
  link(rel="shortcut icon",href="/favicon.ico")
  
  
  // build:css styles/vendor.css
  // bower:css
  // endbower
  // endbuild
  // build:css(.tmp) styles/main.css
  link(rel="stylesheet", href="styles/main.css")
  // endbuild
body
  
  div.header
    ul.nav.nav-pills.pull-right
      li.active
        a(ng-href="/") Home
      li
        a(ng-href="/about") About
      li
        a(ng-href="/contact") Contact
        
    h3.text-muted <%= appname %>
    
  <% if (ngRoute) {%>
  div.container(ng-view)
  <% } else { %>
  div.container
  <% } %>


  <!--[if lt IE 9]>
  script(src="bower_components/es5-shim/es5-shim.js")
  script(src="bower_components/json3/lib/json3.min.js")
  <![endif]-->

  // build:js scripts/vendor.js 
  // bower:js
  // endbower 
  // endbuild 

  // build:js({.tmp,app}) scripts/main.js 
  // endbuild
