div(ng-show="ajaxReady")
  br
  br
  p This is the <%= name %> view.
  <% if( name == 'contact'){ %>
  taiwan-address-input(address="address")
  <% } %>
  
  
//- loading div
wave-spinner(ng-hide="ajaxReady")
