doctype html

html(lang="zh-Hant-TW")
head
meta(name="fragment",content="!")
base(href="/")
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
title <%= appname %> - no IE 8

body
  h1 為提升最佳的瀏覽使用體驗，我們不再支援 IE 8 以下的瀏覽器觀看。
  br
  br
  p 升級瀏覽器，不但可以獲得更佳的瀏覽體驗，也可以保護您的個人資料安全，建議您升級您的瀏覽器，或使用 Google Chrome 瀏覽器。
  br
  br
  ul
    li 獲取最新版本 
      a(href="http://windows.microsoft.com/zh-tw/internet-explorer/download-ie",target="_blank") Microsoft Internet Explorer
    li 使用最佳使用體驗瀏覽器 
      a(href="https://www.google.com.tw/chrome/browser/desktop/index.html",target="_blank") Google Chrome
    li 當然要使用 
      a(href="http://mozilla.com.tw/firefox/new/",target="_blank") FireFox browser 
      | 也是沒有問題的！
